<div class="container-flex">
    <div class="banner mt-3" style= "background-image: url('https://cdn.domestika.org/c_limit,dpr_1.0,f_auto,q_auto,w_820/v1573115821/content-items/003/391/103/POSTER-CONTROLLERS-original.jpg?1573115821 )";>
    </div>
</div>
